.product{
    display: flex;
    border-bottom: 1.2px solid lightgray;
    margin-right: 10px;
}
.product-item{
    margin-left: 15px;
    padding: 20px;
}
.product-name{
    color: blue;
}

.cart-btn{
    border: 1px solid black;
    background: goldenrod;
    width: 150px;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}